body {
    overflow-x: hidden;
}
// HEADER
#header{
    .site-logo{
        width: 269px;
        height: 25px;
    }
}
#dp-hamburger{
    display: inline-block;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 1px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.3s;
    }
    
    &.change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    &.change .bar2 {
        opacity: 0;
    }
    
    &.change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -2px);
        transform: rotate(45deg) translate(-4px, -2px);
    }
}
#site-navigation {
    width: 315px;
    background: #293834;
    position: fixed;
    height: 100%;
    left: -315px;
    transition: 0.5s;
    &.shift-right{
        left: 0;
    }
}
#site-wrapper{
    transition: .3s;
    position: relative;
    left: 0;
    &.shift-right {
        left: 135px;
        transition: .3s;
    }
}
#top-social{
        li{
            list-style: none;
            display: inline-block;
        }
}


@import 'media';